[Desktop Entry]
Type=Application
Encoding=UTF-8
Exec=/usr/bin/buxon %u
Name=Buxon
Comment=sioc:Forum visor
Icon=buxon
MimeType=application/rdf+xml
Categories=Utility;
