# SWAML htaccess rules

RewriteEngine On

# Ontology
RewriteRule ^ns/swaml.owl /ns/swaml-0.3.owl
RewriteRule ^ns/0.1 /ns/swaml-0.1.owl
RewriteRule ^ns/0.2 /ns/swaml-0.2.owl
RewriteRule ^ns/0.3 /ns/swaml-0.3.owl

# RSS
RewriteRule ^rss/news http://developer.berlios.de/export/rss20_bsnews.php?group_id=4806 [R]
RewriteRule ^rss/releases http://developer.berlios.de/export/rss20_bsnewreleases.php?group_id=4806 [R]
RewriteRule ^rss/wiki /wiki/index.php/RecentChanges?format=rss [R]
#RewriteRule ^rss/svn http://svn.berlios.de/wsvn/swaml/?op=rss&rev=0&sc=0&isdir=1 [R]
RewriteRule ^rss http://developer.berlios.de/export/rss_project.php?group_id=4806 [R]

# Mailing lists
RewriteRule ^lists/devel http://lists.berlios.de/mailman/listinfo/swaml-devel [R]
RewriteRule ^lists/users http://lists.berlios.de/mailman/listinfo/swaml-users [R]
RewriteRule ^lists/spanish http://lists.berlios.de/mailman/listinfo/swaml-spanish [R]
RewriteRule ^lists http://developer.berlios.de/mail/?group_id=4806 [R]

# Another services in BerliOS
RewriteRule ^doap$ /doap.rdf [R=303]
RewriteRule ^news/([0-9]+)$ http://developer.berlios.de/forum/forum.php?forum_id=$1 [R]
RewriteRule ^news$ http://developer.berlios.de/news/?group_id=4806 [R]
RewriteRule ^bugs$ http://developer.berlios.de/bugs/?group_id=4806 [R]
RewriteRule ^features$ http://developer.berlios.de/feature/?group_id=4806 [R]
RewriteRule ^showfiles$ http://developer.berlios.de/project/showfiles.php?group_id=4806 [R]
RewriteRule ^wsvn$ http://svn.berlios.de/wsvn/swaml/trunk/ [R]
RewriteRule ^members-list$ http://developer.berlios.de/project/memberlist.php?group_id=4806 [R]
RewriteRule ^bug/([0-9]+)$ https://developer.berlios.de/bugs/?func=detailbug&group_id=4806&bug_id=$1 [R]
RewriteRule ^feature/([0-9]+) http://developer.berlios.de/feature/?func=detailfeature&group_id=4806&feature_id=$1 [R]
RewriteRule ^releases/([a-z]+\-[0-9]{1}-[0-9]{1}-[0-9]{1}\.[a-z]{3}.[a-z]{2})$ http://download.berlios.de/swaml/$1 [R=301]
RewriteRule ^releases/$ /files/releases/ [R=301]
RewriteRule ^releases$ /files/releases [R=301]

# Demo old files
RewriteRule ^demo/index.rdf$ /demos/sioc-dev/index.rdf [R]
RewriteRule ^demo/$ /demos/ [R]
RewriteRule ^demo$ /demos/ [R]

# Mime types
AddType application/rdf+xml .rdf
AddType application/rdf+xml .owl
AddType application/x-xpinstall .xpi

