/**
 * SWAML CSS
 * Based on phpWiki Crao Theme <http://www.crao.net/>
 * 2006-12-07
 */

body {
  color: #000000;
  background: #CCCCCC; 
  font-family: Helvetica, Verdana, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 { 
  font-family: Arial, Helvetica, sans-serif; 
}

p {
  text-align: justify;
}

a:link, a:visited, a {
	color: #3333cc; 
	text-decoration: none; 
	background-color: transparent;
}

a:hover {
	color: #0033ff;
	text-decoration:none;
	background-color: transparent;
}

img {
  border: 0;
}

div.accessibility {
  display: none;
}

/* head */

h1#head {
  color: #cccccc;
  background-color: #333333;
  margin: 0 0 0.5em 0;
  height: 53px;
  width: auto;
  font: bolder 67px/50px  Verdana, Arial, Helvetica, sans-serif;
  letter-spacing: -0.1em;
  text-transform: uppercase;
}

h1#head img {
  float: right;
}

h1#head a:link, h1#head a:visited, h1#head a {
	color: #cccccc;
	text-decoration: none;
}

h1#head {
	color: #cccccc;
	text-decoration: none;
}

/* menu */

div#menu {
  color: #000000;
  background-color: #f2f2f2;
  border: 1px #000000 solid;
  padding: 0.8em 0 0.8em 0;
  margin: 1em 5em 1em 5em;
  font-size: 12px;
}

div#menu ul {
  list-style: none;
  display: inline;
}

div#menu ul li {
  display: inline;
  margin-right: 1em;
}

div#menu ul li:after {
  margin-left: 1em;
  content: "|";
}

div#menu ul li.last:after {
  margin-left: 0;
  content: "";
}

div#menu ul li a, div#menu ul li a:link, div#menu ul li a:visited {
  color: #333333; 
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1em;
}

div#menu ul li a:hover {
  color: #888888; 
  text-decoration: none;
}

/* content */

div#content {
  color: #000000;
  background-color: #f2f2f2;
  border: 1px #000000 solid;
  padding: 1em 3em 2em 3em;
  margin: 2em 5em 1em 5em;
  font-size: 0.75em;
}

#process {
	float: right;
	margin: 0.2em 0 0.2em 1em;
}

#advertisement {
	border: 1px solid red; 
	padding: 10px;
	text-align: center;
	font-weight: bold;
	width: auto;
	margin-right: 420px;
}

#content h2 { 
  margin-top: 2em;
  background-color: transparent;
  color: #555555;
  border-bottom-style: solid;
  border-color: #cccccc;
  padding-top:1em;
}

#content iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
}

#content h2 img {
 float: right;
 margin: 0 0 0 10em;
}

#content ul, ol, dl {
  margin-left: 3em;
  list-style: square;
}

#content dd {
  text-align: justify;
  margin-bottom: 0.5em;
}

#content p.svn {
	font-family: monospace;
	text-align: center;
	font-size: 1.2em;
}

#content p.svn a, #content p.svn a:active, #content p.svn a:hover, #content p.svn a:visited {
	color: #000000;
	text-decoration: none;
}

/* foot */

div#foot {
  margin: 1em 5em 10em 5em;
  padding: 0;
}

div#foot ul {
  list-style: none;
  display: inline;
  float: right;
}

div#foot ul li {
  display: inline;
  margin-left: 1em;
}


